<div class="navbar navbar-inverse navbar-static-top" style="position:relative">
  <div class="container">
    <div class="navbar-brand">{{i18n.header.title}}</div>
    <button
      class="navbar-toggle"
      data-toggle ="collapse"
      (click)="isCollapsed = !isCollapsed"
      data-target=".navHeaderCollapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div [appcollapse]="isCollapsed" class="collapse navbar-collapse navHeaderCollapse">
      <ul *ngIf="logged" class="nav navbar-nav navbar-left">
        <li role = "presentation">
          <a [routerLink]="['/Tables']"> {{i18n.header.tablesTab}} </a>
        </li>
        <li role = "presentation">
          <a [routerLink]="['/Kitchen']"> {{i18n.header.kitchenTab}} </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-right:15px; margin-top:15px; position:relative;">
          <app-language-selector
            [list] ="languages"
            (changeLanguageEvent) = "changeLanguage($event)">
          </app-language-selector>
        </li>
        <li style="margin-right:20px">
          <div *ngIf="logged" class="header-user">
            {{i18n.header.logged}} : {{user.username}}
          </div>
        </li>
        <li>
          <button type="button" class = "btn btn-success" style="margin-top:8px" *ngIf="logged" (click) = "logOff()">
            {{i18n.buttons.logOffBtn}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
