<div class="loginContainer">
  <h1>{{i18n.LoginPage.intro}}</h1>
  <div>
    <img src="app/main/img/login_logo.png">
  </div>

  <form (ngSubmit)="validateLogin(usernameLogin.value, passwordLogin.value)" #loginForm="ngForm">
      <h2>{{i18n.LoginPage.signIn}}</h2>

      <div class="cuadroUsuario">

          <div [hidden]="loginFailed" class="alert alert-danger">
            <a href="#" class="close" (click) ="hideAlertLogin()">&times;</a>
            {{i18n.LoginPage.failed}}
          </div>

          <div [hidden]="user.valid || user.pristine" class ="login-alert">
            {{i18n.LoginPage.form.usernameError}}
          </div>
          <input [placeholder]="i18n.LoginPage.form.usernamePlaceHolder" type="text" style="margin-bottom:10px;" #usernameLogin class="form-control" required ngControl="username"  #user="ngForm">

          <div [hidden]="pass.valid || pass.pristine" class ="login-alert">
            {{i18n.LoginPage.form.passwordError}}
          </div>
          <input type="password" [placeholder]="i18n.LoginPage.form.passwordPlaceHolder" style="margin-bottom:10px;" #passwordLogin class="form-control" required ngControl="password"  #pass="ngForm">

      </div>
      <button type="submit" class="btn  btn-success" [disabled]="!loginForm.form.valid">{{i18n.buttons.submitBtn}}</button>
  </form>
