<header [logged]="login" [user] ="usuario" (logOffEvent)="login = logOut($event)"></header>

<div class = "app-body">
  <!-- LOGIN -->
  <div *ngIf="!login">
    <login (loginEvent)="enviar($event)" (userEvent)="setUser($event)"></login>
  </div>

  <!-- APPLICATION -->
  <div [hidden]="!login">
    <router-outlet></router-outlet>
  </div>


</div>

<!-- AUTOLOGIN -->
<modal-dialog id="showPopup"
*ngIf="autoLog"
[modal]=true
[TITLE]=autoLogInfo
[type]="'info'"
class="modaldialog">
  <form (ngSubmit)="validateAutoLogin(usernameLogin.value, passwordLogin.value)" #loginForm="ngForm">
          <input [placeholder]="i18n.loginPage.form.usernamePlaceHolder" type="text" style="margin-bottom:10px;" #usernameLogin class="form-control" required ngControl="username"  #user="ngForm">
          <input [placeholder]="i18n.loginPage.form.passwordPlaceHolder" type="text" style="margin-bottom:10px;" #passwordLogin class="form-control" required ngControl="password"  #pass="ngForm">
          <button type="submit" class="btn  btn-success" [disabled]="!loginForm.form.valid">{{i18n.buttons.submitBtn}}</button>
  </form>
</modal-dialog>

<label class ="footer">{{i18n.footer.title}}</label>
