<div *ngIf="http.getLoading()" class ="maskLoading">
</div>

  <header style="z-index:1; position:relative;" [logged]="securityService.getLogged()" [user] ="securityService.getUser()"></header>


  <div class="app-body">
      <router-outlet style="position:relative;"></router-outlet>
  </div>

  <label class ="footer">{{i18n.footer.title}}</label>


  <app-modal-dialog
  *ngIf="securityService.getSessionExpired()"
  [title]=autoLogInfo
  class="modaldialog">
  <form (ngSubmit)="validateLogin(loginForm)" #loginForm="ngForm">
      <h2>{{i18n.loginPage.signIn}}</h2>

      <div class="cuadroUsuario">

          <div [hidden]="securityService.geterrorLogin() || securityService.getSessionExpired()" class="alert alert-danger">
            <a class="close" (click) ="hideAlertLogin()">&times;</a>
            {{i18n.loginPage.failed}}
          </div>

          <div [hidden]="username.valid || username.pristine" class ="login-alert">
            {{i18n.loginPage.form.usernameError}}
          </div>
          <input type="text" [placeholder]="i18n.loginPage.form.usernamePlaceHolder" ngModel #username="ngModel"  name="username" class="form-control propertyMargin-bottom"  required>

          <div [hidden]="password.valid || password.pristine" class ="login-alert">
            {{i18n.loginPage.form.passwordError}}
          </div>
          <input type="password" [placeholder]="i18n.loginPage.form.passwordPlaceHolder" ngModel #password="ngModel" name="password" class="form-control propertyMargin-bottom" required>

      </div>
      <button type="submit" class="btn btn-success" [disabled] ="!loginForm.form.valid">{{i18n.buttons.submitBtn}}</button>
  </form>
</app-modal-dialog>
