<form id="firstOptionForm">
<table class="table table-striped" style="cursor:pointer">
      <thead>
          <th (click) = "sortColumn(0)" > Number <a [class]="sortIconStyle[0]"></a></th>
          <th (click) = "sortColumn(1)"  > State  <a [class]="sortIconStyle[1]"></a></th>
          <th (click) = "sortColumn(2)" > Waiter <a [class]="sortIconStyle[2]"></a></th>
      </thead>
      <tbody>
          <tr *ngFor="let table of showTables" #row (click)=clickedRow(table)>
              <td [class.selected]="selectedTable === table">{{table.number}}</td>
              <td [class.selected]="selectedTable === table">{{table.state}}</td>
              <td [class.selected]="selectedTable === table">{{table.waiter}}</td>
          </tr>
      </tbody>
  </table>


  <div style="text-align:center;">
      <div [ngSwitch]="myState">
        <!-- 1 = FREE -->
	    	<template [ngSwitchWhen]="1">
          <div class="btn-group" role="group">
            <!-- data-target="#edition" -->
            <button type="button" class="btn" data-toggle="modal" (click)="openEdition()">Edit</button>
            <!-- <button (click)="openEdition()">Edit</button> -->
            <button type="button" class="btn" (click)="reserve()">Reserve</button>
            <button type="button" class="btn" disabled="disabled">Cancel Reservation</button>
            <button type="button" class="btn" (click)="occupy()">Occupy</button>
            <button type="button" class="btn" disabled="disabled">Free</button>
          </div>
        </template>

        <!-- 2 = OCCUPIED -->
        <template [ngSwitchWhen]="2">
          <div class="btn-group" role="group">
            <button type="button" class="btn" data-toggle="modal" (click)="openEdition()">Edit</button>
            <!-- <button type="button" class="btn" data-toggle="modal" data-target="#edition">Edit</button> -->
            <button type="button" class="btn" disabled="disabled">Reserve</button>
            <button type="button" class="btn" disabled="disabled">Cancel Reservation</button>
            <button type="button" class="btn" disabled="disabled">Occupy</button>
            <button type="button" class="btn" (click)="free()">Free</button>
          </div>
        </template>

        <!-- 3 = RESERVED -->
        <template [ngSwitchWhen]="3">
          <div class="btn-group" role="group">
            <button type="button" class="btn" data-toggle="modal" (click)="openEdition()">Edit</button>
            <!-- <button type="button" class="btn" data-toggle="modal" data-target="#edition">Edit</button> -->
            <button type="button" class="btn" disabled="disabled">Reserve</button>
            <button type="button" class="btn" (click)="cancelReservation()">Cancel Reservation</button>
            <button type="button" class="btn" (click)="occupy()">Occupy</button>
            <button type="button" class="btn" disabled="disabled">Free</button>
          </div>
        </template>

	    	<template ngSwitchDefault>
          <div class="btn-group" role="group">
             <!-- data-target="#edition"  -->
             <button type="button" class="btn" data-toggle="modal" (click)="openEdition()">Edit</button>
            <!-- <button type="button" class="btn" data-toggle="modal" disabled="disabled">Edit</button> -->
            <button type="button" class="btn" disabled="disabled">Reserve</button>
            <button type="button" class="btn" disabled="disabled">Cancel Reservation</button>
            <button type="button" class="btn" disabled="disabled">Occupy</button>
            <button type="button" class="btn" disabled="disabled">Free</button>
          </div>
        </template>
	    </div>

      <!-- <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>

      <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Large modal</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
          </div>
        </div>
      </div> -->

      <!-- PRUEBA MODAL DE OASP -->
      <modal-dialog id="modal-dialog"
    		[hidden]="hideModalDialog"
    		[modal]=true
    		[TITLE]="dialog_header"
        [BODY]=nameComponent
    		[BUTTONS]=dialog_buttons
        [parentTable]=selectedTable>
    	</modal-dialog>

      <!-- /PRUEBA MODAL DE OASP-->

      <!-- WINDOW -->
      <div class="container">
          <div class="modal modal-vertical-centered" id="edition" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" style="float:left;">Details for Table #{{selectedTable.number}}</h3>
                        </div>
                        <div class="modal-body">
                          <tableDetails [parentTable]="selectedTable"></tableDetails>
                          <!-- <div style="text-align:right;" class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal">Submit</button>
                            <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                          </div> -->
                        </div> <!-- /modal body -->
                    </div> <!-- /modal content -->
              </div> <!-- /modal dialog -->
          </div> <!-- /modal -->
      </div> <!-- container -->

  </div>
  <div style="text-align:right">
      <pagination [list] = "tables" [rowsPerPage] = "tablesPerPage" (paginationList) = "pagination($event)"></pagination>
  </div>

  <router-outlet></router-outlet>
</form>
