<div class="loginContainer">
  <h1>This is the login to the devonfw restaurant example application as technical showcase for an AngularJS client.</h1>
  <div>
    <img src="app/img/login_logo.png">
  </div>

  <form (ngSubmit)="validateLogin(usernameLogin.value, passwordLogin.value)" #loginForm="ngForm">
      <h2>Sign in</h2>

      <div class="cuadroUsuario">

          <div [hidden]="loginFailed" class="alert alert-danger">
            <a href="#" class="close" (click) ="hideAlertLogin()">&times;</a>
            Authentication failed. Please try again!
          </div>

          <div [hidden]="user.valid || user.pristine" class ="login-alert">
            Please enter your username
          </div>
          <input placeholder="User name" type="text" style="margin-bottom:10px;" #usernameLogin class="form-control" required ngControl="username"  #user="ngForm">

          <div [hidden]="pass.valid || pass.pristine" class ="login-alert">
            Please enter your password
          </div>
          <input type="text" placeholder="Password" style="margin-bottom:10px;" #passwordLogin class="form-control" required ngControl="password"  #pass="ngForm">

      </div>
      <button type="submit" class="btn  btn-success" [disabled]="!loginForm.form.valid">Submit</button>
  </form>

</div>
