<div *ngIf="security">
    <div>
      <search-panel [searchInputs] = "[num, stat, waiter]" (searchValues) = "searchFilters($event)">
        <div class = "searchFields propertyMargin-right">
            <label> {{i18n.tables.number}} </label>
            <input #num type ="number" class="form-control">
        </div>

        <div class = "searchFields propertyMargin-right">
            <label> {{i18n.tables.state}} </label>
            <select #stat class="form-control">
              <option value="">{{i18n.searchPanel.all}}</option>
              <option *ngFor ="let state of states ; let i = index"
                      [value]="states[i]">{{states[i]}}</option>
            </select>
        </div>

        <div class = "searchFields">
            <label> {{i18n.tables.waiter}} </label>
            <input #waiter type ="text" class="form-control">
        </div>
      </search-panel>

      <legend> {{i18n.tables.title}} </legend>

      <grid-table
          [headers] = "headers"
          [attributeNames] = "attributeNames"
          [dataInput] = "tables"
          (objSelected) = "rowSelected($event)"
          (sort) = "sortColumnBy($event)">
      </grid-table>

      <div style="text-align:center">
          <button type="button" class="btn btn-pagination" (click)="openEditModal()" [disabled] = "myState === -1">{{i18n.buttons.editBtn}}</button>
          <button type="button" class="btn btn-pagination" (click)="changeState('RESERVED')" [disabled]="myState !== 1">{{i18n.tables.btns.reserve}}</button>
          <button type="button" class="btn btn-pagination" (click)="changeState('FREE')" [disabled]="myState != 3">{{i18n.tables.btns.cancel}}</button>
          <button type="button" class="btn btn-pagination" (click)="changeState('OCCUPIED')" [disabled]="myState !== 3">{{i18n.tables.btns.occupy}}</button>
          <button type="button" class="btn btn-pagination" (click)="changeState('FREE')" [disabled]="myState === 1 || myState === -1">{{i18n.tables.btns.free}}</button>
      </div>

    </div>

    <div style ="text-align: right">
        <pagination [numItems] = "numItems" [rowsPerPage] = "4" (eventCurrentPage) = "pagination($event)"></pagination>
    </div>

    <modal-dialog id="modal"
      *ngIf="hideModalDialog"
      [modal]=true
      [TITLE]=modalHeader
      class="modaldialog">
      <tableDetails [parentTable]="selectedTable" (closeWindowEvent)="hideModalDialog = $event" (resultEvent)="rowSelected($event)"></tableDetails>
    </modal-dialog>
</div>
