<div class="loginContainer">
  <h1>{{i18n.loginPage.intro}}</h1>
  <div>
    <img src="app/main/img/login_logo.png">
  </div>

  <form (ngSubmit)="validateLogin(loginForm)" #loginForm="ngForm">
      <h2>{{i18n.loginPage.signIn}}</h2>

      <div class="cuadroUsuario">

          <div [hidden]="securityService.geterrorLogin() || securityService.getSessionExpired()" class="alert alert-danger">
            <a class="close" (click) ="hideAlertLogin()">&times;</a>
            {{i18n.loginPage.failed}}
          </div>

          <div [hidden]="username.valid || username.pristine" class ="login-alert">
            {{i18n.loginPage.form.usernameError}}
          </div>
          <input type="text" [placeholder]="i18n.loginPage.form.usernamePlaceHolder" ngModel #username="ngModel"  name="username" class="form-control propertyMargin-bottom"  required>

          <div [hidden]="password.valid || password.pristine" class ="login-alert">
            {{i18n.loginPage.form.passwordError}}
          </div>
          <input type="password" [placeholder]="i18n.loginPage.form.passwordPlaceHolder" ngModel #password="ngModel" name="password" class="form-control propertyMargin-bottom" required>

      </div>
      <button type="submit" class="btn btn-success" [disabled] ="!loginForm.form.valid">{{i18n.buttons.submitBtn}}</button>
  </form>
</div>
