<div class = "filter">
  <form class ="searchForm">
    <fieldset >
        <legend> {{i18n.searchPanel.title}} </legend>

        <div class = "form-flex">
          <ng-content></ng-content>
        </div>

        <div class = "right">
          <button (click)="doSearch()" class = "btn btn-primary btn-filter">{{i18n.buttons.searchBtn}}</button>
          <button type="button" (click)="clearForm()" class = "btn btn-warning btn-filter">{{i18n.buttons.clearBtn}}</button>
        </div>
    </fieldset>
  </form>
</div>
