<header [logged]="securityService.getLogged()" [user] ="securityService.getUser()"></header>


<div class = "app-body">
    <router-outlet></router-outlet>
</div>

<label class ="footer">{{i18n.footer.title}}</label>


<modal-dialog id="showPopup"
*ngIf="securityService.getSessionExpired()"
[modal]=true
[TITLE]=autoLogInfo
class="modaldialog">
  <form (ngSubmit)="validateLogin(usernameLogin.value, passwordLogin.value)" #loginForm="ngForm">
      <div [hidden]="securityService.geterrorLogin()" class="alert alert-danger">
        <a href="#" class="close" (click) ="hideAlertLogin()">&times;</a>
        {{i18n.loginPage.failed}}
      </div>

      <div [hidden]="user.valid || user.pristine" class ="login-alert">
        {{i18n.loginPage.form.usernameError}}
      </div>
      <input [placeholder]="i18n.loginPage.form.usernamePlaceHolder" type="text" style="margin-bottom:10px;" #usernameLogin class="form-control" required ngControl="username">

      <div [hidden]="pass.valid || pass.pristine" class ="login-alert">
        {{i18n.loginPage.form.passwordError}}
      </div>
      <input type="password" [placeholder]="i18n.loginPage.form.passwordPlaceHolder" style="margin-bottom:10px;" #passwordLogin class="form-control" required ngControl="password">

      <button type="submit" class="btn btn-success">{{i18n.buttons.submitBtn}}</button>
  </form>
</modal-dialog>
