<div style="float:left; width:100%;">
  <p><b>Status: </b>{{parentTable.getState()}}</p>
</div>
<div style="margin:50 0 90 0">
  <div class="dropdown" style="float:right; margin:10px">
    <button *ngIf="commandToAdd.getPrice() != null" class="btn btn-default" disabled="disabled">{{commandToAdd.getTitle()}}</button>
    <button *ngIf="commandToAdd.getPrice() === null" class="btn btn-default dropdown-toggle" type="button" (click)="openMenu()" id="menu1" data-toggle="dropdown">Commands
      <span class="caret"></span></button>
    <ul class="my-dropdown" role="menu"  [hidden]= "viewMenu" aria-labelledby="menu1">
      <li role="presentation" *ngFor=" let command of commands">
        <a role="menuitem" tabindex="-1" style="cursor:pointer" (click)="commandToAdd = command">{{command.getTitle()}}</a>
      </li>
    </ul>
    <button *ngIf="commandToAdd.getPrice() != null" class="btn btn-default" type="button" id="menu1" (click)="addCommand()">+Add</button>
  </div>

  <table class="table table-striped" style="cursor:pointer">
  <!-- <table class="table table-striped" style="cursor:pointer" *ngIf="!emptyTable"> -->
    <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Status</th>
            <th>Price</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let command of _commands" (click)="clickedRow(command)">
            <td [class.selected]="selectedCommand === command">{{command.number}}</td>
            <td [class.selected]="selectedCommand === command">{{command.title}}</td>
            <td [class.selected]="selectedCommand === command">{{command.status}}</td>
            <td [class.selected]="selectedCommand === command">{{command.price}}€</td>
            <td [class.selected]="selectedCommand === command">{{command.comment}}</td>
        </tr>
    </tbody>
  </table>

  <!--<div *ngIf="emptyTable" style="text-align:center">
    <p><b>No commands on this Table</b>  Please start adding one.</p>
  </div>-->




  <div style="float:left;">
    <button *ngIf="selectedCommand.number != null" class="btn btn-default" (click)="removeCommand()">Remove</button>
  </div>
</div>

<div style="text-align:right;" class="modal-footer">
  <br>
  <button class="btn btn-primary" data-dismiss="modal" (click)="submit()">Submit</button>
  <button class="btn btn-warning" data-dismiss="modal" (click)="cancel()">Cancel</button>
</div>
