<!-- <div [hidden]="!modal" style= "background-color: grey; opacity: 0.6;"></div>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title">Details for Table #{{parentTable.getNumber()}}</h3>
	  </div>

	  <div class="modal-body">
			<tableDetails [parentTable]="parentTable"></tableDetails>
			<div id="componentContainer">
			</div>
	  </div> -->
	<!-- <div>
</div> -->

<div class="container">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Details for Table #{{parentTable.getNumber()}}</h3>
			</div>

			<div class="modal-body">
				<tableDetails [parentTable]="parentTable"></tableDetails>
				<div id="componentContainer">
				</div>
			</div>
		<!-- <div>
	</div> -->
</div> <!-- container -->
</div>
</div>
