<search-panel [searchInputs] ="[num,title,stat,comment]" (searchValues) = "searchFilters($event)">

    <div class = "searchFields propertyMargin-right">
        <label> Number </label>
        <input #num type ="number" class="form-control">
    </div>

    <div class = "searchFields propertyMargin-right">
        <label> Title </label>
        <input #title type ="text" class="form-control">
    </div>

    <div class = "searchFields propertyMargin-right">
        <label> Status </label>
        <select #stat class="form-control">
          <option value="">All</option>
          <option value="Ordered">Ordered</option>
          <option value="Cooking">Cooking</option>
          <option value="Canceled">Canceled</option>
          <option value="Done">Done</option>
        </select>
    </div>

    <div class = "searchFields propertyMargin-right">
        <label> Comment </label>
        <input #comment type ="text" class="form-control">
    </div>

</search-panel>

<legend> Kitchen </legend>

<div class ="Kitchentables">
    <div class = "commandTable">
        <h3> Available </h3>
        <grid-table
            [headers] ="headers"
            [attributeNames] = "attributeNames"
            [dataInput] = "availableCommands"
            (objSelected) = "availableSelected($event)">
        </grid-table>
    </div>

    <button (click) ="assign()" [disabled] = "selectedAvailableCommand == undefined" class ="btn commandButton glyphicon glyphicon-arrow-right"></button>
    <button  (click) ="changeState(1)" [disabled] = "selectedAssignedCommand == undefined" class ="btn commandButtonReturn glyphicon glyphicon-arrow-left"></button>

    <div class = "commandTable">
        <h3> Assigned </h3>
        <grid-table
            [headers] ="headers"
            [attributeNames] = "attributeNames"
            [dataInput] = "assignedCommands"
            (objSelected) = "assignedSelected($event)">
         </grid-table>

         <button  (click) ="changeState(2)" [disabled] = "selectedAssignedCommand == undefined" class ="btn btn-warning propertyMargin-left">Cancel</button>
         <button  (click) ="changeState(3)" [disabled] = "selectedAssignedCommand == undefined" class ="btn btn-primary propertyMargin-left">Done</button>
    </div>
</div>
