<div class ="header-restaurant">
    <label class ="header-title"> <a> {{i18n.header.title}} </a> </label>

    <ul *ngIf="logged" class = "header-tabs">
        <li *ngIf="user.permission === 1 || user.permission === 3" role = "presentation">
          <a [routerLink]="['/Tables']"> {{i18n.header.tablesTab}} </a>
        </li>
        <li *ngIf="user.permission > 1" role = "presentation">
          <a [routerLink]="['/Kitchen']"> {{i18n.header.kitchenTab}} </a>
        </li>
    </ul>

    <div class = "header-right">

      <languageSelector [list] ="languages" (changeLanguageEvent) = "changeLanguage($event)"></languageSelector>

      <span class="headerInfo" *ngIf="logged"> {{i18n.header.logged}} : {{user.username}} </span>
      <button type="button" class = "btn btn-primary" *ngIf="logged" (click) = "logOff()"> {{i18n.buttons.logOffBtn}} </button>
    </div>

</div>
